.topnavhorizontal {
	FONT-SIZE: 13px; TEXT-DECORATION: none; FONT-FAMILY: Arial, Helvetica, sans-serif; WIDTH: 200px; FONT-WEIGHT: bold; COLOR: #ffffff; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; PADDING-LEFT: 20px; DISPLAY: block; BACKGROUND-COLOR: #8c7ead
}
A.topnavhorizontal:hover {
	FONT-SIZE: 13px; TEXT-DECORATION: none; FONT-FAMILY: Arial, Helvetica, sans-serif; WIDTH: 200px; FONT-WEIGHT: bold; COLOR: #6a5b97; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; PADDING-LEFT: 20px; DISPLAY: block; BACKGROUND-COLOR: #d0cfe3
}
.topnavvertical {
	FONT-SIZE: 11px; TEXT-DECORATION: underline; FONT-FAMILY: Arial, Helvetica, sans-serif; WIDTH: 100px; FONT-WEIGHT: bold; COLOR: #666666; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; PADDING-LEFT: 20px; DISPLAY: block; BACKGROUND-COLOR: #d0cfe3
}
A.topnavvertical:hover {
	FONT-SIZE: 11px; TEXT-DECORATION: none; FONT-FAMILY: Arial, Helvetica, sans-serif; WIDTH: 100px; FONT-WEIGHT: bold; COLOR: #333333; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; PADDING-LEFT: 20px; DISPLAY: block
}
.leftnavvertical {
	FONT-SIZE: 11px; TEXT-DECORATION: none; FONT-FAMILY: Arial, Helvetica, sans-serif; WIDTH: 180px; FONT-WEIGHT: bold; COLOR: #666666; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; PADDING-LEFT: 20px; DISPLAY: block; BACKGROUND-COLOR: #e8e4b1
}
A.leftnavvertical:hover {
	FONT-SIZE: 11px; TEXT-DECORATION: none; FONT-FAMILY: Arial, Helvetica, sans-serif; WIDTH: 180px; FONT-WEIGHT: bold; COLOR: #ffffff; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; PADDING-LEFT: 20px; DISPLAY: block; BACKGROUND-COLOR: #999999
}
.pgsubtitle {
	FONT-SIZE: 13px; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-WEIGHT: bold; COLOR: #8375a7
}
.highlightbl {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-WEIGHT: bold; COLOR: #333333
}
.subtitle {
	FONT-SIZE: 13px; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-WEIGHT: bold; COLOR: #8375a7
}
.text {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-WEIGHT: normal; COLOR: #000000
}
.textsm {
	FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-WEIGHT: normal; COLOR: #333333
}
.textbig {
	FONT-SIZE: 14px; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-WEIGHT: normal; COLOR: #000000
}

@media Print    
{
.ms-leftareacell {
	DISPLAY: inline
}
.ms-areaseparatorleft {
	DISPLAY: inline
}
    }
.ms-pagetitle {
	FONT-SIZE: 12pt; FONT-FAMILY: arial; FONT-WEIGHT: normal; COLOR: #000000; MARGIN: 0px 0px 4px
}
TD.ms-vb {
	FONT-SIZE: 9pt; FONT-FAMILY: Arial,Tahoma,Verdana,Helvetica,sans-serif; VERTICAL-ALIGN: top; COLOR: #000000; TEXT-ALIGN: left
}
.ms-WPTitle {
	FONT-SIZE: 10pt; FONT-FAMILY: arial,sans-serif; BORDER-COLLAPSE: collapse; FONT-WEIGHT: bold; COLOR: #d96217; TEXT-ALIGN: left
}
.ms-WPTitle A:link {
	FONT-SIZE: 10pt; CURSOR: pointer; FONT-FAMILY: arial,sans-serif; BORDER-COLLAPSE: collapse; FONT-WEIGHT: bold; COLOR: #d96217; TEXT-ALIGN: left
}
.ms-WPTitle A:visited {
	FONT-SIZE: 10pt; CURSOR: pointer; FONT-FAMILY: arial,sans-serif; BORDER-COLLAPSE: collapse; FONT-WEIGHT: bold; COLOR: #d96217; TEXT-ALIGN: left
}
.ms-pagebreadcrumb {
	FONT-SIZE: 8pt; TEXT-DECORATION: none; FONT-FAMILY: arial; COLOR: #666666; TEXT-ALIGN: left
}
.ms-pagebreadcrumb A {
	FONT-SIZE: 8pt; TEXT-DECORATION: none; FONT-FAMILY: arial; COLOR: #666666; TEXT-ALIGN: left
}
.ms-topnav A {
	FONT-SIZE: 1em; HEIGHT: 18px; FONT-FAMILY: arial; WHITE-SPACE: nowrap; COLOR: #3764a0; PADDING-BOTTOM: 0px; PADDING-TOP: 1px; PADDING-LEFT: 8px; DISPLAY: block; PADDING-RIGHT: 8px
}
