.ms-errorinl {
	FONT-SIZE: 8pt; FONT-FAMILY: arial, sans-serif; COLOR: #ff0000
}
TABLE.ms-unselectedhover {
	BACKGROUND-IMAGE: url(/_layouts/images/portaltabselected.gif)
}
DIV.ms-unselectedhover {
	BACKGROUND-IMAGE: url(/_layouts/images/portaltabselected.gif)
}
TABLE.ms-selectednohover {
	BACKGROUND-IMAGE: url(/_layouts/images/menubuttonhover.gif)
}
DIV.ms-selectednohover {
	BACKGROUND-IMAGE: url(/_layouts/images/menubuttonhover.gif)
}
TABLE.ms-selectedhover {
	BACKGROUND-IMAGE: url(/_layouts/images/portaltabselected.gif)
}
DIV.ms-selectedhover {
	BACKGROUND-IMAGE: url(/_layouts/images/portaltabselected.gif)
}
.ms-ptabarea {
	MARGIN-TOP: 0px
}
.ms-sctabarea {
	MARGIN-TOP: 0px
}
.ms-ptabcn {
	FONT-SIZE: 0.7em; BORDER-TOP: #83b0ec 1px solid; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica, sans-serif; BORDER-RIGHT: #83b0ec 1px solid; VERTICAL-ALIGN: middle; BACKGROUND: url(/_layouts/images/PortalTabSelected.gif) #cae6f4; BORDER-BOTTOM: #83b0ec 1px solid; FONT-WEIGHT: normal; COLOR: #000000; PADDING-BOTTOM: 2px; FONT-STYLE: normal; PADDING-TOP: 2px; PADDING-LEFT: 10px; BORDER-LEFT: #83b0ec 1px solid; PADDING-RIGHT: 10px
}
.ms-sctabcn {
	FONT-SIZE: 0.7em; BORDER-TOP: #83b0ec 1px solid; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica, sans-serif; BORDER-RIGHT: #83b0ec 1px solid; VERTICAL-ALIGN: middle; BACKGROUND: url(/_layouts/images/PortalTabSelected.gif) #cae6f4; BORDER-BOTTOM: #83b0ec 1px solid; FONT-WEIGHT: normal; COLOR: #000000; PADDING-BOTTOM: 2px; FONT-STYLE: normal; PADDING-TOP: 2px; PADDING-LEFT: 10px; BORDER-LEFT: #83b0ec 1px solid; PADDING-RIGHT: 10px
}
.ms-ptabcnhover {
	FONT-SIZE: 0.7em; BORDER-TOP: #9e8255 1px solid; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica, sans-serif; BORDER-RIGHT: #9e8255 1px solid; VERTICAL-ALIGN: middle; BACKGROUND: url(/_layouts/images/PortalTabHover.gif) #fae8d4; BORDER-BOTTOM: #6593cf 1px solid; FONT-WEIGHT: normal; COLOR: #000000; PADDING-BOTTOM: 2px; FONT-STYLE: normal; PADDING-TOP: 2px; PADDING-LEFT: 10px; BORDER-LEFT: #9e8255 1px solid; PADDING-RIGHT: 10px
}
.ms-sctabcnhover {
	FONT-SIZE: 0.7em; BORDER-TOP: #9e8255 1px solid; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica, sans-serif; BORDER-RIGHT: #9e8255 1px solid; VERTICAL-ALIGN: middle; BACKGROUND: url(/_layouts/images/PortalTabHover.gif) #fae8d4; BORDER-BOTTOM: #6593cf 1px solid; FONT-WEIGHT: normal; COLOR: #000000; PADDING-BOTTOM: 2px; FONT-STYLE: normal; PADDING-TOP: 2px; PADDING-LEFT: 10px; BORDER-LEFT: #9e8255 1px solid; PADDING-RIGHT: 10px
}
.ms-ptabcn A:link {
	TEXT-DECORATION: none; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica, sans-serif; COLOR: #000000; FONT-STYLE: normal
}
.ms-ptabcn A:visited {
	TEXT-DECORATION: none; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica, sans-serif; COLOR: #000000; FONT-STYLE: normal
}
.ms-ptabcnhover A:link {
	TEXT-DECORATION: none; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica, sans-serif; COLOR: #000000; FONT-STYLE: normal
}
.ms-ptabcnhover A:visited {
	TEXT-DECORATION: none; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica, sans-serif; COLOR: #000000; FONT-STYLE: normal
}
.ms-sctabcn A:link {
	TEXT-DECORATION: none; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica, sans-serif; COLOR: #000000; FONT-STYLE: normal
}
.ms-sctabcn A:visited {
	TEXT-DECORATION: none; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica, sans-serif; COLOR: #000000; FONT-STYLE: normal
}
.ms-sctabcnhover A:link {
	TEXT-DECORATION: none; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica, sans-serif; COLOR: #000000; FONT-STYLE: normal
}
.ms-sctabcnhover A:visited {
	TEXT-DECORATION: none; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica, sans-serif; COLOR: #000000; FONT-STYLE: normal
}
.ms-ptabcnhover A:hover {
	TEXT-DECORATION: none; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica, sans-serif; COLOR: #000000; FONT-STYLE: normal
}
.ms-sctabcnhover A:hover {
	TEXT-DECORATION: none; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica, sans-serif; COLOR: #000000; FONT-STYLE: normal
}
.ms-ptabcf {
	FONT-SIZE: 0.7em; BORDER-TOP: #ffffff 1px solid; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica, sans-serif; VERTICAL-ALIGN: middle; BACKGROUND: url(/_layouts/images/topnavdivider.gif) repeat-y left 50%; BORDER-BOTTOM: #6593cf 1px solid; FONT-WEIGHT: normal; COLOR: #7f7f7f; PADDING-BOTTOM: 2px; FONT-STYLE: normal; PADDING-TOP: 2px; PADDING-LEFT: 10px; BORDER-LEFT: #ffffff 1px solid; PADDING-RIGHT: 11px
}
.ms-ptabcfhover {
	FONT-SIZE: 0.7em; BORDER-TOP: #9e8255 1px solid; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica, sans-serif; BORDER-RIGHT: #9e8255 1px solid; VERTICAL-ALIGN: middle; BACKGROUND: url(/_layouts/images/PortalTabHover.gif) #fae8d4 repeat-x; BORDER-BOTTOM: #6593cf 1px solid; FONT-WEIGHT: normal; COLOR: #7f7f7f; PADDING-BOTTOM: 2px; FONT-STYLE: normal; PADDING-TOP: 2px; PADDING-LEFT: 10px; BORDER-LEFT: #9e8255 1px solid; PADDING-RIGHT: 10px
}
.ms-sctabcfhover {
	FONT-SIZE: 0.7em; BORDER-TOP: #9e8255 1px solid; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica, sans-serif; BORDER-RIGHT: #9e8255 1px solid; VERTICAL-ALIGN: middle; BACKGROUND: url(/_layouts/images/PortalTabHover.gif) #fae8d4 repeat-x; BORDER-BOTTOM: #6593cf 1px solid; FONT-WEIGHT: normal; COLOR: #7f7f7f; PADDING-BOTTOM: 2px; FONT-STYLE: normal; PADDING-TOP: 2px; PADDING-LEFT: 10px; BORDER-LEFT: #9e8255 1px solid; PADDING-RIGHT: 10px
}
.ms-ptabcf A:link {
	TEXT-DECORATION: none; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica, sans-serif; COLOR: #7f7f7f; FONT-STYLE: normal
}
.ms-ptabcf A:visited {
	TEXT-DECORATION: none; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica, sans-serif; COLOR: #7f7f7f; FONT-STYLE: normal
}
.ms-ptabcfhover A:link {
	TEXT-DECORATION: none; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica, sans-serif; COLOR: #7f7f7f; FONT-STYLE: normal
}
.ms-ptabcfhover A:visited {
	TEXT-DECORATION: none; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica, sans-serif; COLOR: #7f7f7f; FONT-STYLE: normal
}
.ms-sctabcf A:link {
	TEXT-DECORATION: none; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica, sans-serif; COLOR: #7f7f7f; FONT-STYLE: normal
}
.ms-sctabcf A:visited {
	TEXT-DECORATION: none; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica, sans-serif; COLOR: #7f7f7f; FONT-STYLE: normal
}
.ms-sctabcfhover A:link {
	TEXT-DECORATION: none; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica, sans-serif; COLOR: #7f7f7f; FONT-STYLE: normal
}
.ms-sctabcfhover A:visited {
	TEXT-DECORATION: none; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica, sans-serif; COLOR: #7f7f7f; FONT-STYLE: normal
}
.ms-ptabcfhover A:hover {
	TEXT-DECORATION: none; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica, sans-serif; COLOR: #7f7f7f; FONT-STYLE: normal
}
.ms-sctabcfhover A:hover {
	TEXT-DECORATION: none; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica, sans-serif; COLOR: #7f7f7f; FONT-STYLE: normal
}
.ms-ptabcfb {
	BACKGROUND-COLOR: #ffffff
}
.ms-ptabnt {
	PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 7px; PADDING-RIGHT: 0px
}
.ms-sctabnt {
	PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 7px; PADDING-RIGHT: 0px
}
.ms-ptabnt A:link {
	FONT-SIZE: 8pt; TEXT-DECORATION: none; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica, sans-serif; COLOR: #003399; FONT-STYLE: normal
}
.ms-ptabnt A:visited {
	FONT-SIZE: 8pt; TEXT-DECORATION: none; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica, sans-serif; COLOR: #003399; FONT-STYLE: normal
}
.ms-sctabnt A:link {
	FONT-SIZE: 8pt; TEXT-DECORATION: none; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica, sans-serif; COLOR: #003399; FONT-STYLE: normal
}
.ms-sctabnt A:visited {
	FONT-SIZE: 8pt; TEXT-DECORATION: none; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica, sans-serif; COLOR: #003399; FONT-STYLE: normal
}
.ms-ptabrx {
	FONT-SIZE: 0.7em; BORDER-TOP: #83b0ec 0px solid; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica; BORDER-RIGHT: #83b0ec 0px solid; WIDTH: 100%; VERTICAL-ALIGN: middle; BORDER-BOTTOM: #83b0ec 1px solid; FONT-WEIGHT: normal; COLOR: #7f7f7f; PADDING-BOTTOM: 2px; FONT-STYLE: normal; TEXT-ALIGN: left; PADDING-TOP: 2px; PADDING-LEFT: 4px; BORDER-LEFT: #83b0ec 0px solid; PADDING-RIGHT: 4px; BACKGROUND-COLOR: #ffffff
}
.ms-sctabcf {
	FONT-SIZE: 0.7em; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica, sans-serif; VERTICAL-ALIGN: middle; BORDER-BOTTOM: #97b4e9 1px solid; FONT-WEIGHT: normal; COLOR: #7a7a7a; PADDING-BOTTOM: 2px; FONT-STYLE: normal; PADDING-TOP: 2px; PADDING-LEFT: 10px; PADDING-RIGHT: 11px
}
.ms-main .ms-sctabcf {
	BORDER-TOP: #d6e8ff 1px solid; BORDER-RIGHT: medium none; BACKGROUND: url(/_layouts/images/topnavdivider.gif) repeat-y; BORDER-BOTTOM: #97b4e9 1px solid; BORDER-LEFT: #d6e8ff 1px solid
}
.ms-sctabrx {
	FONT-SIZE: 0.7em; BORDER-TOP: #97b4e9 0px solid; FONT-FAMILY: Verdana, Arial, Helvetica; BORDER-RIGHT: #97b4e9 0px solid; WIDTH: 100%; VERTICAL-ALIGN: middle; BORDER-BOTTOM: #97b4e9 1px solid; FONT-WEIGHT: normal; COLOR: #7a7a7a; PADDING-BOTTOM: 2px; FONT-STYLE: normal; TEXT-ALIGN: left; PADDING-TOP: 2px; PADDING-LEFT: 4px; BORDER-LEFT: #97b4e9 0px solid; PADDING-RIGHT: 4px
}
.ms-sctabcnb {
	PADDING-BOTTOM: 4px
}
.ms-sctabcfb {
	PADDING-BOTTOM: 4px
}
.ms-articlepic {
	FLOAT: left; MARGIN-RIGHT: 8pt
}
.ms-articlepad {
	MARGIN-BOTTOM: 5px
}
.ms-articletext {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial, tahoma; COLOR: #8c8c8c; LINE-HEIGHT: 1.3em
}
.ms-kpirow {
	HEIGHT: 25px; VERTICAL-ALIGN: middle
}
.ms-MenuUILabelFont {
	FONT-SIZE: 66.67%; TEXT-DECORATION: none; FONT-FAMILY: Arial, Verdana, sans-serif
}
TABLE.ms-applyfilters {
	CURSOR: hand
}
TD.ms-applyfiltersbutton {
	CURSOR: hand; BORDER-TOP: #c2dcff 1px solid; BORDER-RIGHT: #add1ff 1px solid; BORDER-BOTTOM: 1px solid; BORDER-LEFT: 1px solid; BACKGROUND-COLOR: #9ac6ff; align: left
}
TABLE.ms-applyfiltersinactive {
	FONT-SIZE: 7pt; CURSOR: hand; BORDER-TOP: #8ebbf5 0px solid; HEIGHT: 50px; FONT-FAMILY: arial; BORDER-RIGHT: #8ebbf5 1px solid; BACKGROUND-IMAGE: url(/_layouts/images/ApplyFiltersInActive.jpg); BACKGROUND-REPEAT: repeat-x; BORDER-BOTTOM: #8ebbf5 1px solid; FONT-WEIGHT: bold; COLOR: #3764a0; PADDING-BOTTOM: 1px; TEXT-ALIGN: center; PADDING-TOP: 1px; PADDING-LEFT: 3px; BORDER-LEFT: #8ebbf5 1px solid; PADDING-RIGHT: 3px
}
TABLE.ms-applyfiltersactive {
	FONT-SIZE: 7pt; CURSOR: hand; BORDER-TOP: #8ebbf5 0px solid; HEIGHT: 50px; FONT-FAMILY: arial; BORDER-RIGHT: #8ebbf5 1px solid; BACKGROUND-IMAGE: url(/_layouts/images/ApplyFiltersActive.jpg); BACKGROUND-REPEAT: repeat-x; BORDER-BOTTOM: #8ebbf5 1px solid; FONT-WEIGHT: bold; COLOR: #3764a0; PADDING-BOTTOM: 1px; TEXT-ALIGN: center; PADDING-TOP: 1px; PADDING-LEFT: 3px; BORDER-LEFT: #8ebbf5 1px solid; PADDING-RIGHT: 3px
}
TABLE.ms-applyfiltershoverover {
	FONT-SIZE: 7pt; CURSOR: hand; BORDER-TOP: #8ebbf5 0px solid; HEIGHT: 50px; FONT-FAMILY: arial; BORDER-RIGHT: #8ebbf5 1px solid; BACKGROUND-IMAGE: url(/_layouts/images/ApplyFiltersHoverOver.jpg); BACKGROUND-REPEAT: repeat-x; BORDER-BOTTOM: #8ebbf5 1px solid; FONT-WEIGHT: bold; COLOR: #3764a0; PADDING-BOTTOM: 1px; TEXT-ALIGN: center; PADDING-TOP: 1px; PADDING-LEFT: 3px; BORDER-LEFT: #8ebbf5 1px solid; PADDING-RIGHT: 3px
}
.ms-consolestatuscell {
	BACKGROUND-IMAGE: url(/_layouts/images/pageTitleBKGD.gif); BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: left top; TEXT-ALIGN: center; BACKGROUND-COLOR: #c2dcff
}
.ms-toolbar IMG {
	BORDER-TOP: medium none; BORDER-RIGHT: medium none; VERTICAL-ALIGN: middle !important; BORDER-BOTTOM: medium none; PADDING-BOTTOM: 0px !important; PADDING-TOP: 0px !important; PADDING-LEFT: 0px !important; BORDER-LEFT: medium none; MARGIN: 3px 5px; PADDING-RIGHT: 0px !important
}
.ms-toolbarItem IMG {
	BORDER-TOP: medium none; BORDER-RIGHT: medium none; VERTICAL-ALIGN: middle !important; BORDER-BOTTOM: medium none; PADDING-BOTTOM: 0px !important; PADDING-TOP: 0px !important; PADDING-LEFT: 0px !important; BORDER-LEFT: medium none; MARGIN: 3px 5px; PADDING-RIGHT: 0px !important
}
.ms-toolbar A {
	FONT-WEIGHT: normal !important; PADDING-BOTTOM: 0px !important; TEXT-ALIGN: left !important; PADDING-TOP: 0px !important; PADDING-LEFT: 0px !important; MARGIN: 0px; PADDING-RIGHT: 0px !important
}
.ms-toolbarItem A {
	FONT-WEIGHT: normal !important; PADDING-BOTTOM: 0px !important; TEXT-ALIGN: left !important; PADDING-TOP: 0px !important; PADDING-LEFT: 0px !important; MARGIN: 0px; PADDING-RIGHT: 0px !important
}
.ms-assetpicker-text {
	FONT-SIZE: 10px; FONT-FAMILY: Arial, Tahoma, Verdana
}
.ms-assetpicker-emptydatatext {
	FONT-SIZE: 10px; FONT-FAMILY: Arial, Tahoma, Verdana; WIDTH: 100%; TEXT-ALIGN: center; MARGIN: 5px
}
.ms-assetpicker-titledescription {
	FONT-SIZE: 10px; FONT-FAMILY: Arial, Tahoma, Verdana; COLOR: #666666; BACKGROUND-COLOR: #ececec
}
.ms-assetpicker-main {
	BACKGROUND-COLOR: #ece9d8
}
.ms-assetpicker-main TH {
	FONT-SIZE: 8pt; FONT-FAMILY: Verdana, sans-serif; FONT-WEIGHT: normal; COLOR: #000000; TEXT-ALIGN: left
}
.ms-assetpicker-main TD {
	FONT-SIZE: 8pt
}
.ms-assetpicker-main {
	FONT-SIZE: 8pt
}
.ms-assetitem-unselected {
	COLOR: ; BACKGROUND-COLOR: #ffffff
}
.ms-assetitem-selected {
	COLOR: ; BACKGROUND-COLOR: #ffe6a0
}
.ms-assetitem-thumbnail-unselected {
	BORDER-TOP: #ffffff 1px solid; BORDER-RIGHT: #ffffff 1px solid; WIDTH: 155px; BORDER-BOTTOM: #ffffff 1px solid; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 0px; PADDING-LEFT: 0px; BORDER-LEFT: #ffffff 1px solid; PADDING-RIGHT: 0px; BACKGROUND-COLOR: #ffffff
}
.ms-assetitem-thumbnail-selected {
	BORDER-TOP: #d2b47a 1px solid; BORDER-RIGHT: #d2b47a 1px solid; WIDTH: 155px; BORDER-BOTTOM: #d2b47a 1px solid; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 0px; PADDING-LEFT: 0px; BORDER-LEFT: #d2b47a 1px solid; PADDING-RIGHT: 0px; BACKGROUND-COLOR: #ffe6a0
}
.ms-assetitem-thumbnail-imagecell {
	OVERFLOW: hidden; HEIGHT: 150px; WIDTH: 150px; VERTICAL-ALIGN: middle; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.ms-assetitem-thumbnail-imagecell DIV {
	OVERFLOW: hidden; WIDTH: 150px; VERTICAL-ALIGN: middle; TEXT-ALIGN: center
}
.ms-assetitem-thumbnail-imagecell TD {
	OVERFLOW: hidden; WIDTH: 150px; VERTICAL-ALIGN: middle; TEXT-ALIGN: center
}
.ms-assetitem-thumbnail-infoline {
	OVERFLOW: hidden; WIDTH: 140px; TEXT-OVERFLOW: ellipsis; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; text-wrapping: nowrap
}
.ms-assetitem-thumbnail-infocell-unselected {
	OVERFLOW: hidden; HEIGHT: 3em; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND-COLOR: #ffffff
}
.ms-assetitem-thumbnail-infocell-selected {
	OVERFLOW: hidden; HEIGHT: 3em; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND-COLOR: #ffe6a0
}
.ms-assetpicker-header {
	FONT-SIZE: 10px; FONT-FAMILY: Arial, Tahoma, Verdana; COLOR: #6593cf; TEXT-ALIGN: left; BACKGROUND-COLOR: #f0f3f7
}
.ms-assetpicker-lookintable {
	FONT-FAMILY: Arial, Tahoma, Verdana; TEXT-ALIGN: center
}
.ms-assetpicker-lookintoplabelcell {
	FONT-FAMILY: Arial, Tahoma, Verdana; TEXT-ALIGN: center
}
.ms-assetpicker-lookintablecontainer {
	BORDER-TOP: #6f9dd9 1px solid; HEIGHT: 480px; BORDER-RIGHT: #6f9dd9 1px solid; BORDER-BOTTOM: #6f9dd9 1px solid; COLOR: #000000; BORDER-LEFT: #6f9dd9 1px solid
}
.ms-assetpicker-objectlistcontainer {
	BORDER-TOP: #6f9dd9 1px solid; HEIGHT: 480px; BORDER-RIGHT: #6f9dd9 1px solid; BORDER-BOTTOM: #6f9dd9 1px solid; COLOR: #000000; BORDER-LEFT: #6f9dd9 1px solid
}
.ms-assetpicker-lookintablecontainer {
	WIDTH: 100px; BACKGROUND-COLOR: #f2f8ff
}
.ms-assetpicker-lookin-toplabel-table {
	HEIGHT: 25px; WIDTH: 100px; BORDER-BOTTOM: #6f9dd9 1px solid; BACKGROUND-COLOR: #d6e8ff
}
.ms-assetpicker-lookin-toplabel-cell {
	FONT-WEIGHT: bold; COLOR: #000000; TEXT-ALIGN: center; BACKGROUND-COLOR: #d6e8ff
}
.ms-assetitem-lookinlabel-infoline {
	OVERFLOW: hidden; WIDTH: 93px; TEXT-OVERFLOW: ellipsis; TEXT-ALIGN: center; text-wrapping: nowrap
}
.ms-assetpicker-lookintable A {
	TEXT-DECORATION: none; COLOR: #000000
}
.ms-assetpicker-lookintable A:link {
	TEXT-DECORATION: none; COLOR: #000000
}
.ms-assetpicker-lookintable A:visited {
	TEXT-DECORATION: none; COLOR: #000000
}
.ms-assetpicker-lookincell {
	HEIGHT: 100px
}
.ms-assetpicker-lookincell-selected {
	BORDER-TOP: #ffbc4b 1px solid; BORDER-RIGHT: #ffbc4b 1px solid; BORDER-BOTTOM: #ffbc4b 1px solid; BORDER-LEFT: #ffbc4b 1px solid; BACKGROUND-COLOR: #ffffff
}
.ms-assetpicker-toolbar {
	FONT-SIZE: 10px; FONT-FAMILY: Arial, Tahoma, Verdana; COLOR: #666666
}
.ms-assetpicker-imagebutton {
	VERTICAL-ALIGN: top
}
.ms-selectorlink A {
	TEXT-DECORATION: none !important; FONT-FAMILY: Tahoma, Verdana !important; FONT-WEIGHT: normal !important; COLOR: #003399 !important
}
.ms-selectorlink A:visited {
	TEXT-DECORATION: none !important; FONT-FAMILY: Tahoma, Verdana !important; FONT-WEIGHT: normal !important; COLOR: #003399 !important
}
.ms-selectorlink A:hover {
	TEXT-DECORATION: underline !important; FONT-WEIGHT: normal !important; COLOR: #000000 !important
}
.ms-selectorlink A:active {
	TEXT-DECORATION: underline !important; FONT-WEIGHT: normal !important; COLOR: #000000 !important
}
.ms-selectorlinkdis IMG {
	FILTER: alpha(opacity=25) !important
}
.ms-selectorlinkdis A {
	CURSOR: default !important; COLOR: #c0c0c0 !important
}
.ms-selectorlinkdis A:visited {
	CURSOR: default !important; COLOR: #c0c0c0 !important
}
.ms-selectorlinkdis A:hover {
	CURSOR: default !important; COLOR: #c0c0c0 !important
}
.ms-selectorlinkdis A:active {
	CURSOR: default !important; COLOR: #c0c0c0 !important
}
.ms-cmstopnav-dynamicmenu {
	borderwidth: 1px; bordercolor: #a5a5a5
}
.ms-cmstopnav-dynamicmenuitem {
	FONT-SIZE: 8pt; ForeColor: #204d89; BackColor: #ebf3ff; HorizontalPadding: 9; VerticalPadding: 4
}
.ms-profilelabel {
	FONT-SIZE: 0.7em; FONT-FAMILY: Arial, Tahoma, Verdana; COLOR: #525252; PADDING-BOTTOM: 2px; TEXT-ALIGN: left; PADDING-TOP: 0px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px
}
.ms-profilevalue {
	COLOR: #4c4c4c
}
.ms-profilevalue A:link {
	TEXT-DECORATION: none; COLOR: #003399
}
.ms-profilevalue A:visited {
	TEXT-DECORATION: none; COLOR: #003399
}
.ms-profilevalue A:hover {
	TEXT-DECORATION: underline; COLOR: #ff0000
}
.ms-profilevaluelarge {
	FONT-SIZE: 0.9em
}
.ms-profiledescription {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial, Tahoma, Verdana; COLOR: #666666; TEXT-ALIGN: left
}
.ms-profilebody {
	FONT-SIZE: 0.7em; FONT-FAMILY: Arial, Tahoma, Verdana; BACKGROUND-COLOR: #ffffff
}
.ms-profileheader {
	COLOR: #666666
}
.ms-profilesection {
	COLOR: #083772
}
.ms-orgme {
	COLOR: #517acc; BACKGROUND-COLOR: #ebf3ff
}
.ms-highlight {
	BORDER-TOP: #bdbdbd 1px solid; BORDER-RIGHT: #bdbdbd 1px solid; BORDER-BOTTOM: #bdbdbd 1px solid; BORDER-LEFT: #bdbdbd 1px solid
}
.ms-ptable1 {
	BORDER-TOP: #e0e0e0 1px solid; BORDER-RIGHT: #e0e0e0 1px solid; BORDER-BOTTOM: #e0e0e0 1px solid; PADDING-BOTTOM: 15px; PADDING-TOP: 10px; PADDING-LEFT: 12px; BORDER-LEFT: #e0e0e0 1px solid; PADDING-RIGHT: 12px; BACKGROUND-COLOR: #f5f5f5
}
.ms-ptable2 {
	BORDER-TOP: #ececec 1px solid; BORDER-RIGHT: #ececec 1px solid; BORDER-BOTTOM: #ececec 1px solid; PADDING-BOTTOM: 15px; PADDING-TOP: 12px; PADDING-LEFT: 4px; BORDER-LEFT: #ececec 1px solid; PADDING-RIGHT: 4px
}
.ms-menubuttonselectbackground {
	BACKGROUND-IMAGE: url(/_layouts/images/topnavover.gif)
}
.ms-reusableTextView {
	BORDER-TOP: #000000 1px solid; BORDER-RIGHT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid; FILTER: alpha(opacity=55); BORDER-LEFT: #000000 1px solid; BACKGROUND-COLOR: #e0e0e0; opacity: .55; -moz-opacity: 0.55
}
.ms-reusableTextListItemRowHighlighted {
	BACKGROUND-COLOR: #fee197
}
.ms-reusableTextListItemRowSelected {
	BACKGROUND-COLOR: #00224d
}
.ms-reusableTextListItemLeftCell {
	BORDER-TOP: #fafafa 1px solid; BORDER-BOTTOM: #fafafa 1px solid; BORDER-LEFT: #fafafa 1px solid
}
.ms-reusableTextListItemMiddleCell {
	BORDER-TOP: #fafafa 1px solid; BORDER-BOTTOM: #fafafa 1px solid
}
.ms-reusableTextListItemRightCell {
	BORDER-TOP: #fafafa 1px solid; BORDER-RIGHT: #fafafa 1px solid; BORDER-BOTTOM: #fafafa 1px solid
}
.ms-reusableTextListItemLeftCellSelected {
	BORDER-TOP: #2254b1 1px solid; BORDER-BOTTOM: #2254b1 1px solid; BORDER-LEFT: #2254b1 1px solid
}
.ms-reusableTextListItemMiddleCellSelected {
	BORDER-TOP: #2254b1 1px solid; BORDER-BOTTOM: #2254b1 1px solid
}
.ms-reusableTextListItemRightCellSelected {
	BORDER-TOP: #2254b1 1px solid; BORDER-RIGHT: #2254b1 1px solid; BORDER-BOTTOM: #2254b1 1px solid
}
.groupHide {
	DISPLAY: none
}
.groupShow {
	
}
.srch-SocDistTitle {
	FONT-SIZE: 1.2em; MARGIN-BOTTOM: 5px; FONT-FAMILY: Arial; WIDTH: 100%; BORDER-BOTTOM: #d6e8ff 1px solid; FONT-WEIGHT: bold; COLOR: #333333; PADDING-BOTTOM: 2px
}
.psrch-Description {
	FONT-SIZE: 1em; FONT-FAMILY: Arial; COLOR: #333333; PADDING-BOTTOM: 2px; MARGIN-LEFT: 0px
}
.psrch-Description B {
	FONT-WEIGHT: bold; COLOR: #333333
}
.psrch-PropLabel {
	FONT-SIZE: 1em; FONT-FAMILY: Arial; COLOR: #333333
}
.psrch-PropValue {
	FONT-SIZE: 1em; FONT-FAMILY: Arial; COLOR: #008800
}
.psrch-Title {
	FONT-SIZE: 1.2em; FONT-FAMILY: Arial
}
.psrch-Title A:link {
	TEXT-DECORATION: none; FONT-FAMILY: Arial; COLOR: #003399; PADDING-LEFT: 4px
}
.psrch-Title A:visited {
	TEXT-DECORATION: none; FONT-FAMILY: Arial; COLOR: #003399; PADDING-LEFT: 4px
}
.psrch-Title A:hover {
	TEXT-DECORATION: underline; COLOR: #ff0000
}
.psrch-Metadata {
	FONT-SIZE: 1em; FONT-FAMILY: Arial; COLOR: #333333; MARGIN: 0px 0px 25px
}
.psrch-Action A:link {
	COLOR: #003399
}
.psrch-Action A:visited {
	COLOR: #003399
}
.psrch-profimg {
	BORDER-TOP: #e0ded5 1px solid; BORDER-RIGHT: #e0ded5 1px solid; TABLE-LAYOUT: fixed; BORDER-BOTTOM: #e0ded5 1px solid; BORDER-LEFT: #e0ded5 1px solid; BACKGROUND-COLOR: #ececec
}
.psrch-result {
	PADDING-BOTTOM: 16px
}
.psrch-propcell {
	PADDING-LEFT: 8px
}
.psrch-Icon {
	POSITION: relative; FLOAT: left; MARGIN-LEFT: 10px; TOP: 2px
}
.ms-reftitle {
	FONT-SIZE: 9pt; FONT-FAMILY: Arial; WIDTH: 200px; FONT-WEIGHT: bold; COLOR: #333333; PADDING-TOP: 1px
}
.ms-refsubtitle {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial; COLOR: #333333
}
.ms-refitem {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial; COLOR: #003399
}
TD.ms-refsubtitle {
	PADDING-TOP: 3px; PADDING-LEFT: 3px
}
TD.ms-refitem {
	PADDING-TOP: 3px; PADDING-LEFT: 3px
}
TD.ms-reftoggle {
	PADDING-BOTTOM: 7px; PADDING-TOP: 3px; PADDING-LEFT: 3px
}
.ms-refitem A:link {
	FONT-SIZE: 8pt; TEXT-DECORATION: none; FONT-FAMILY: Arial; COLOR: #003399; PADDING-BOTTOM: 2px
}
.ms-refitem A:visited {
	FONT-SIZE: 8pt; TEXT-DECORATION: none; FONT-FAMILY: Arial; COLOR: #003399; PADDING-BOTTOM: 2px
}
.ms-refitem A:hover {
	TEXT-DECORATION: underline; COLOR: #000000
}
.ms-reftoggle A:hover {
	TEXT-DECORATION: underline; COLOR: #000000
}
.ms-reftoggle {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial; COLOR: #003399
}
.ms-reftoggle A:link {
	FONT-SIZE: 8pt; TEXT-DECORATION: none; FONT-FAMILY: Arial; MARGIN-TOP: 0px; COLOR: #003399; PADDING-TOP: 0px
}
.ms-reftoggle A:visited {
	FONT-SIZE: 8pt; TEXT-DECORATION: none; FONT-FAMILY: Arial; MARGIN-TOP: 0px; COLOR: #003399; PADDING-TOP: 0px
}
.srch-HighConfidence {
	BACKGROUND-COLOR: #f7f3cd
}
.srch-BestBets {
	OVERFLOW: hidden; WIDTH: 230px; TEXT-OVERFLOW: ellipsis; PADDING-LEFT: 15px; LEFT: 10px; TOP: 15px
}
.srch-BB-URL A:link {
	COLOR: #008800 !important
}
.srch-BB-URL A:visited {
	COLOR: #008800 !important
}
.srch-BB-URL A:hover {
	COLOR: #ff0000
}
.srch-BestBetsTitle {
	FONT-SIZE: 1.2em; FONT-FAMILY: Arial; COLOR: #003399; MARGIN: 0px 0px 4px
}
.srch-BestBetsTitle A:link {
	TEXT-DECORATION: none; COLOR: #003399
}
.srch-BestBetsTitle A:visited {
	TEXT-DECORATION: none; COLOR: #003399
}
.srch-BestBetsTitle A:hover {
	COLOR: #ff0000
}
.srch-BB-Description {
	FONT-SIZE: 1em; FONT-FAMILY: Arial; COLOR: #333333; MARGIN: 0px 0px 4px
}
.srch-BB-Description B {
	FONT-WEIGHT: bold; COLOR: #333333
}
.srch-BB-SpecialTerm {
	FONT-SIZE: 1em; FONT-FAMILY: Arial; COLOR: #333333; MARGIN: 0px 0px 4px
}
.srch-BB-SpecialTerm B {
	FONT-SIZE: 1.2em; FONT-WEIGHT: bold; COLOR: #333333
}
.srch-InputText {
	FONT-SIZE: 10pt; FONT-FAMILY: Arial, Tahoma, Verdana; COLOR: #666666; MARGIN: 0px
}
TD.srch-optionsLinkDiv {
	BORDER-TOP: medium none; BORDER-RIGHT: medium none; BORDER-BOTTOM: medium none; PADDING-BOTTOM: 0px !important; PADDING-TOP: 0px !important; PADDING-LEFT: 0px !important; BORDER-LEFT: medium none; PADDING-RIGHT: 0px !important
}
TD.srch-options {
	BORDER-TOP: medium none; BORDER-RIGHT: medium none; BORDER-BOTTOM: medium none; PADDING-BOTTOM: 3px !important; PADDING-TOP: 3px !important; PADDING-LEFT: 3px !important; BORDER-LEFT: medium none; PADDING-RIGHT: 3px !important
}
.srch-options INPUT {
	BORDER-TOP: #a5a5a5 1px solid; BORDER-RIGHT: #a5a5a5 1px solid; BORDER-BOTTOM: #a5a5a5 1px solid; BORDER-LEFT: #a5a5a5 1px solid
}
.srch-options {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica, sans-serif; COLOR: #000000; FONT-STYLE: normal; BACKGROUND-COLOR: #d6e8ff
}
.srch-optionsts {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica, sans-serif; COLOR: #000000; FONT-STYLE: normal
}
.srch-groupbar {
	COLOR: #000000; BACKGROUND-COLOR: #ebf3ff
}
.leftnavPic {
	BORDER-TOP: #8ebbf5 1px solid; BORDER-RIGHT: #8ebbf5 1px solid; VERTICAL-ALIGN: middle; BACKGROUND-IMAGE: url(/_layouts/images/portraitbackground.gif); BACKGROUND-REPEAT: repeat-x; BORDER-BOTTOM: #8ebbf5 1px solid; PADDING-BOTTOM: 10px; TEXT-ALIGN: center; PADDING-TOP: 10px; BORDER-LEFT: #8ebbf5 1px solid; BACKGROUND-COLOR: #ebf3ff
}
.incommonbody {
	BACKGROUND-COLOR: #ebf3ff
}
.ms-navitem A:hover {
	COLOR: 
}
.ms-navitem A:visited {
	TEXT-DECORATION: none; COLOR: #3966bf
}
.ms-navitem A:active {
	COLOR: 
}
.ms-navitem A {
	COLOR: 
}
TD.ms-vb {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica, sans-serif
}
TH.ms-vh {
	FONT-SIZE: 8pt; TEXT-DECORATION: none; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica, sans-serif; VERTICAL-ALIGN: top
}
.ms-vb A:visited {
	TEXT-DECORATION: none; COLOR: #3966bf
}
.ms-vb A:hover {
	COLOR: 
}
.ms-vb A:active {
	COLOR: 
}
.ms-vb A {
	COLOR: 
}
.ms-addnew A:visited {
	TEXT-DECORATION: none; COLOR: #3966bf
}
.ms-addnew A:hover {
	COLOR: 
}
.ms-addnew A:active {
	COLOR: 
}
.ms-addnew A {
	TEXT-DECORATION: none; COLOR: #003399
}
.ms-WPBody A:visited {
	TEXT-DECORATION: none; COLOR: #3966bf
}
.ms-WPBody A:hover {
	COLOR: 
}
.ms-WPBody A:active {
	COLOR: 
}
.ms-WPBody A {
	COLOR: 
}
.ms-qrblinks A:visited {
	TEXT-DECORATION: none; COLOR: #3966bf
}
.ms-qrblinks A:active {
	COLOR: 
}
.ms-qrblinks A {
	COLOR: 
}
.ms-qrblinks A:hover {
	COLOR: 
}
.ms-profilebody A:visited {
	TEXT-DECORATION: none; COLOR: #3966bf
}
.ms-profilebody A:active {
	COLOR: 
}
.ms-profilebody A {
	COLOR: 
}
.ms-profilebody A:hover {
	COLOR: 
}
.ms-WPHeader A:visited {
	TEXT-DECORATION: none; COLOR: #3966bf
}
.ms-WPHeader A:active {
	COLOR: 
}
.ms-WPHeader A {
	COLOR: 
}
.ms-WPHeader A:hover {
	COLOR: 
}
.stopSuggestingLink {
	COLOR: #4e7cb7
}
.ms-miniconsole {
	POSITION: relative; LEFT: 0px; TOP: 2px
}
.ms-miniconsoleEdit {
	RIGHT: 4px; POSITION: relative; LEFT: auto; TOP: -11px
}
.ms-pagedescription {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial, tahoma, Verdana, Helvetica; FONT-WEIGHT: normal; COLOR: #000000
}
.ms-sitedirresultssort {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica, sans-serif; FONT-WEIGHT: normal; COLOR: #517acc; PADDING-BOTTOM: 4px
}
.ms-sitedirresultssort A:link {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica, sans-serif; FONT-WEIGHT: normal; COLOR: #517acc; PADDING-LEFT: 4px; PADDING-RIGHT: 4px
}
.ms-sitedirresultssort A:visited {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica, sans-serif; FONT-WEIGHT: normal; COLOR: #517acc; PADDING-LEFT: 4px; PADDING-RIGHT: 4px
}
.ms-sitedirresultssort SPAN {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica, sans-serif; FONT-WEIGHT: normal; COLOR: #727272
}
.ms-sitedirresultssort A:hover {
	TEXT-DECORATION: underline; COLOR: #000000; PADDING-LEFT: 4px; PADDING-RIGHT: 4px
}
.ms-sitedirresultspaging {
	BACKGROUND: #ebf3ff; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; PADDING-LEFT: 4px
}
.ms-sitedirresultspaging A:link {
	PADDING-RIGHT: 4px
}
.ms-sitedirresultspaging A:visited {
	PADDING-RIGHT: 4px
}
.ms-sitedirresultspaging SPAN {
	PADDING-RIGHT: 4px
}
.ms-sitedirresultsbody {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica, sans-serif; FONT-WEIGHT: normal; PADDING-LEFT: 4px
}
.ms-sitedirresultstitle {
	PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.ms-sitedirresultstitle A:link {
	FONT-SIZE: 8.5pt; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica, sans-serif; FONT-WEIGHT: normal; COLOR: #517acc
}
.ms-sitedirresultstitle A:visited {
	FONT-SIZE: 8.5pt; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica, sans-serif; FONT-WEIGHT: normal; COLOR: #517acc
}
.ms-sitedirresultstitle A:hover {
	FONT-SIZE: 8.5pt; TEXT-DECORATION: underline; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica, sans-serif; FONT-WEIGHT: normal; COLOR: #000000
}
.ms-sitedirresultsdescription {
	PADDING-BOTTOM: 2px
}
.ms-sitedirresultsdescription SPAN {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica, sans-serif; FONT-WEIGHT: normal; COLOR: #727272
}
.ms-sitedirresultsurl {
	PADDING-BOTTOM: 6px
}
.ms-sitedirresultsurl A:link {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica, sans-serif; FONT-WEIGHT: normal; COLOR: #517acc
}
.ms-sitedirresultsurl A:visited {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica, sans-serif; FONT-WEIGHT: normal; COLOR: #517acc
}
.ms-sitedirresultsurl A:hover {
	FONT-SIZE: 8pt; TEXT-DECORATION: underline; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica, sans-serif; FONT-WEIGHT: normal; COLOR: #000000
}
.ms-colleaguereminder {
	BACKGROUND-COLOR: #ebf3ff
}
.ms-managesection {
	FONT-WEIGHT: bold; COLOR: navy
}
.ms-viewModeContentArea {
	FONT-SIZE: 8pt; FONT-FAMILY: arial; FONT-WEIGHT: normal
}
.required {
	COLOR: #ff0000
}
.ms-suggestalt {
	BACKGROUND-COLOR: #f2f8ff
}
.ms-srchAlignTop {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
TD.ms-advsrchText {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica, sans-serif; PADDING-RIGHT: 4px
}
SELECT.ms-advsrchPropertyDDL {
	FONT-SIZE: 8pt; HEIGHT: 20px; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica, sans-serif; WIDTH: 160px
}
SELECT.ms-advsrchOperatorDDL {
	FONT-SIZE: 8pt; HEIGHT: 20px; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica, sans-serif; WIDTH: 130px
}
.ms-advsrchPropValue {
	FONT-SIZE: 8pt; HEIGHT: 20px; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica, sans-serif; WIDTH: 150px
}
SELECT.ms-advsrchAndOrDDL {
	FONT-SIZE: 8pt; HEIGHT: 20px; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica, sans-serif
}
TD.ms-advsrchHeadingText {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica, sans-serif; FONT-WEIGHT: bold; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BACKGROUND-COLOR: #f5f5f5
}
.ms-redirectControl {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial; COLOR: #5b5b5b
}
.ms-redirectControl A {
	TEXT-DECORATION: none; FONT-FAMILY: Arial, Tahoma, Verdana; COLOR: #003399
}
.ms-diffchange {
	BACKGROUND-COLOR: yellow
}
